{% extends 'index.html' %}
{% block content %}
<h2>История болезни</h2>
<a href="/records/new" class="btn btn-primary mb-3">Добавить запись</a>
<a href="/reports/diagnosis_by_period" class="btn btn-primary mb-3">Отчет "Дианозы по пациентам за определенный период"</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Пациент</th>
            <th>Диагноз</th>
            <th>Дата</th>
            <th>Заметки</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        {% for rec in records %}
        <tr>
            <td>{{ rec.patient.last_name }} {{ rec.patient.first_name }} {{ rec.patient.middle_name }}</td>
            <td>{{ rec.diagnosis.name }}</td>
            <td>{{ rec.date.strftime('%Y-%m-%d') }}</td>
            <td>{{ rec.notes }}</td>
            <td>
                <a href="/records/{{ rec.id }}/edit" class="btn btn-sm btn-warning">✏️</a>
                <a href="/records/{{ rec.id }}/delete" class="btn btn-sm btn-danger">🗑</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}